<html ng-app="listOfActivitiesAndEvents">
<head>
	<meta charset="UTF-8">			
	<title>Lista de atividades</title>
	<link rel="stylesheet" type="text/css" href="lib/vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/style.css">

	<script src="lib/vendors/angular/angular.min.js"></script>
	<script src="lib/vendors/angular/angular-messages.min.js"></script>

	<script>
		
		angular.module("listOfActivitiesAndEvents", ["ngMessages"]);

		angular.module("listOfActivitiesAndEvents").controller("listOfActivitiesCrtl", function($scope){
			
			$scope.app = "Lista de atividades"

			$scope.activities = [
				{name : "Estudar angular", description: "Inciar o aprendizado no framework angular js versão 1", initialDate : "02/01/2017 16:00", endDate :"02/01/2017 17:00", category:{name: "Estudo"}},
				
				{name : "Estudar Spring", description: "Inciar o aprendizado para de uma Api Restful com Spring boot versão 2.x", initialDate : "03/01/2017 16:00", endDate : "03/01/2017 17:00", category:{name: "Estudo"}}, 
				
				{name : "Estudar Laravel", description: "Inciar o aprendizado no framework laravel versão 5.3", initialDate : "04/01/2017 16:00", endDate : "04/01/2017 17:00",  category:{name: "Estudo"}}
			];

			$scope.categories = [
				{name:"Estudo"},
				{name: "Trabalho"},
				{name: "Atividade física"}
			];

			$scope.addActivity = function(activity){
				$scope.activities.push(angular.copy(activity));
				delete $scope.activity;
				$scope.activityForm.setPristine();
			}

			$scope.removeActivity = function(activities){
				$scope.activities = activities.filter(function(activity){
					if(!activity.selected) return activity;
				});
			}


			$scope.isSelectedActivity = function(activities){
				return isSelectedActivity = activities.some(function(activity){
					return activity.selected;
				});

			}
		});

	</script>
</head>

<body ng-controller = "listOfActivitiesCrtl">

	<div class="jumbotron">
		<h4 ng-bind = "app"></h4>
		<table ng-show="activities.length > 0" class="table table-striped">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Data de Início</th>
				<th>Data de fim</th>
				<th>Categoria</th>

			</tr>
			<tr ng-class="{selected : activity.selected}" ng-repeat="activity in activities">

				<td><input type="checkbox" ng-model="activity.selected"></td>
				<td>{{activity.name}}</td>
				<td>{{activity.initialDate}}</td>
				<td>{{activity.endDate}}</td>
				<td>{{activity.category.name}}</td>
			</tr>
		</table>

		<hr>
 
		<div id="idMessages" class="alert  alert-danger  alert-dismissible" role="alert" ng-messages="activityForm.name.$error">
           
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            	<span aria-hidden="true">&times;</span>
            </button>
            
            <div ng-message="required">
            	<i class="fa  fa-exclamation-circle"></i> O campo nome é obrigatório.
            </div>

            <div ng-message="length">
            	<i  class="fa  fa-exclamation-circle"></i> O campo nome deve conter no mínimo 10 caracteres.
            </div>

        </div>


     
         <div id="idMessages" class="alert  alert-danger  alert-dismissible" role="alert" ng-show="activityForm.initialDate.$error.pattern">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa  fa-exclamation-circle"></i> O campo data inicial deve deve estar no formato dd/m/yyyy h:m.
        </div>

		<form name="activityForm">
			<div class="form-group row">
				<input placeholder="Nome da atividade" name="name" type="text" class="form-control" ng-model="activity.name" ng-required="true" ng-minlength="10">
			</div>

			<div class="form-group row">
				<textarea placeholder="Descrição" name="description" class="form-control" rows="3" ng-model="activity.description"></textarea>	
			</div>
			
			<div class="form-group row">
				<input type="text" name="initialDate" placeholder="Data de início Ex: 23/03/2014 15:00" class="form-control" ng-model="activity.initialDate" ng-required="true" ng-pattern="/^\d{2}/\d{2}/\d{4} \d{2}:\d{2}$/">
			</div>

			<div class="form-group row">
				<input type="text" name="endDate" placeholder="Data de Fim Ex: 23/03/2014 18:00" class="form-control" ng-model="activity.endDate" ng-required="true">

			</div>
			<div class="form-group row">
				<select class="form-control" ng-model="activity.category" ng-options="category.name for category in categories" ng-required="true">
					<option value="">Selecione uma categoria</option>
				</select>

			</div>

		</form>

		<div class="form-group row">
			<button class="btn btn-primary btn-block" ng-click="addActivity(activity)" ng-disabled="activityForm.$invalid" >ADICIONAR ATIVIDADE</button>
		</div>

		<div class="form-group row">
			<button class="btn btn-danger btn-block" ng-click="removeActivity(activities)"  ng-show="isSelectedActivity(activities)">REMOVER ATIVIDADES</button>
		</div>

	</div>
	<script type="text/javascript" src="lib/vendors/jquery/jquery-3.1.1.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="lib/vendors/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>