<html ng-app="listOfActivitiesAndEvents">
<head>
	
	<title>Lista de atividades</title>
	<link rel="stylesheet" type="text/css" href="lib/vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/style.css">

	<script src="lib/vendors/angular/angular.min.js"></script>

	<script>
		
		angular.module("listOfActivitiesAndEvents", []);

		angular.module("listOfActivitiesAndEvents").controller("listOfActivitiesCrtl", function($scope){
			
			$scope.app = "Lista de atividades"

			$scope.activities = [
				{name : "Estudar angular", description: "Inciar o aprendizado no framework angular js versão 1", initialDate : "02/01/2017 16:00", endDate :"02/01/2017 17:00", category:{name: "Estudo"}},
				
				{name : "Estudar Spring", description: "Inciar o aprendizado para de uma Api Restful com Spring boot versão 2.x", initialDate : "03/01/2017 16:00", endDate : "03/01/2017 17:00", category:{name: "Estudo"}}, 
				
				{name : "Estudar Laravel", description: "Inciar o aprendizado no framework laravel versão 5.3", initialDate : "04/01/2017 16:00", endDate : "04/01/2017 17:00",  category:{name: "Estudo"}}
			];

			$scope.categories = [
				{name:"Estudo"},
				{name: "Trabalho"},
				{name: "Atividade física"}
			];

			$scope.addActivity = function(activity){
				$scope.activities.push(angular.copy(activity));
				delete $scope.activity;
			}

			$scope.removeActivity = function(activities){
				$scope.activities = activities.filter(function(activity){
					if(!activity.selected) return activity;
				});
			}


			$scope.isSelectedActivity = function(activities){
				return isSelectedActivity = activities.some(function(activity){
					return activity.selected;
				});

			}
		});

	</script>
</head>

<body ng-controller = "listOfActivitiesCrtl">

</body>

	<div class="jumbotron">
		<h4 ng-bind = "app"></h4>
		<table ng-show="activities.length > 0" class="table table-striped">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Data de Início</th>
				<th>Data de fim</th>
				<th>Categoria</th>

			</tr>
			<tr ng-class="{selected : activity.selected}" ng-repeat="activity in activities">

				<td><input type="checkbox" ng-model="activity.selected"></td>
				<td>{{activity.name}}</td>
				<td>{{activity.initialDate}}</td>
				<td>{{activity.endDate}}</td>
				<td>{{activity.category.name}}</td>
			</tr>
		</table>

		<hr>
		<div class="form-group row">
			<input placeholder="Nome da atividade" type="text" class="form-control" ng-model="activity.name">
		</div>

		<div class="form-group row">
			<textarea placeholder="Descrição" class="form-control" rows="3" ng-model="activity.description"></textarea>	
		</div>
		
		<div class="form-group row">
			<input type="text" placeholder="Data de início Ex: 23/03/2014 15:00" class="form-control" ng-model="activity.initialDate">
		</div>

		<div class="form-group row">
			<input type="text" placeholder="Data de Fim Ex: 23/03/2014 18:00" class="form-control" ng-model="activity.endDate">

		</div>
		<div class="form-group row">
			<select class="form-control" ng-model="activity.category" ng-options="category.name for category in categories">
				<option value="">Selecione uma categoria</option>
			</select>

		</div>
		<div class="form-group row">
			<button class="btn btn-primary btn-block" ng-click="addActivity(activity)" ng-disabled="!activity.name || !activity.initialDate || !activity.endDate || !activity.category.name" >ADICIONAR ATIVIDADE</button>
		</div>

		<div class="form-group row">
			<button class="btn btn-danger btn-block" ng-click="removeActivity(activities)"  ng-show="isSelectedActivity(activities)">REMOVER ATIVIDADES</button>
		</div>

	</div>

</html>