<!DOCTYPE html>
<html lang="en" ng-app="crudCustomer">


<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Customer</title>

<!-- Bootstrap Core CSS -->
<link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css"
	href="/vendors/font-awesome-4.7.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="/vendors/jquery-datatables/media/css/dataTables.bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/vendors/angular-datatable/css/angular-datatables.css" />
	<link rel="stylesheet" type="text/css" href="/vendors/angular-datatable/plugins/bootstrap/datatables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/app.css" />


</head>

<body>

	<div ng-include="'/view/fragments/navbar.html'"></div>

	<div class="container">
		<div ng-view="content"></div>
	</div>

	<script src="/vendors/jquery/jquery-3.1.1.min.js"></script>
	<script src="/vendors/jquery-datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendors/angular/angular.min.js"></script>
	
	<script src="/vendors/angular-datatable/angular-datatables.min.js"></script>
	<script src="/vendors/angular-datatable/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
	
	<script src="/vendors/angular/angular-messages.min.js"></script>
	<script src="/vendors/angular/angular-route.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/config/routeConfig.js"></script>
	<script src="/js/controllers/customerController.js"></script>
	<script src="/js/controllers/newCustomerController.js"></script>
	<script src="/js/controllers/customerDetailController.js"></script>
	<script src="/js/services/customerAPIService.js"></script>
	<script src="/js/value/configValue.js"></script>
	<script src="/js/filters/nameFilter.js"></script>
	<script src="/js/directives/sgest-datedirective.js"></script>
	<script src="/js/directives/sgest-phonedirective.js"></script>
	<script src="/js/directives/sgest-cpfdirective.js"></script>
	<script src="/js/interceptors/timeStampInterceptor.js"></script>
	<script src="/js/config/interceptorConfig.js"></script>
	<script src="/js/interceptors/errorInterceptor.js"></script>


</body>
</html>